/*----- css reset -----*/
*{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    margin: 0;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
     font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

:root{
--main-bg-color: coral;
--blue: rgb(102, 204, 204); /*#66cccc*/
--blue50: rgba(102, 204, 204, 0.5);
--purple: rgb(153, 102, 204); /*#9966cc*/
--purple50: rgba(153, 102, 204, 0.5);
--bpgradient: linear-gradient(to bottom right, var(--blue), var(--purple));
}

.container{
    width: 70%;
    margin: 0 auto;
}
.gradient-fill{
    height: 50vh;
    background-image: var(--bpgradient);
}

.row div{
    float: left;
    margin: 1em 0;
    height: 50px;

    text-align: center;
}
.one-col{
    width: 100%;
}
    
.two-col{
    width: 50%;
    background-image: linear-gradient(to right, pink, yellow);
}

.three-col{
    width: 33.33%;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



#nav-logo{
    width: 80px;
    
}
nav, footer{
    background-color: var(--blue50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a, footer a{
    display: block;
    padding: 1em;
}
nav ul{
    display: flex;
    justify-content: flex-end;
}
footer ul{
    display:flex;
    justify-content: center;
    width: 100%;
}
h1, h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    letter-spacing: -0.07em;
}
h1{
    font-size: 5em;
    font-weight: 800;
    line-height: 3em;
    background: -webkit-linear-gradient(bottom right, var(--blue), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
    font-size: 3em;
    font-weight: 800;
    line-height: 2em;
    color: var(--purple);
}
h3{
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2em;
}
p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    margin: 2em 0;
}

